.pt-bg{
    background-color: rgb(8, 112, 197);
}
h1{
    color: rgb(243, 16, 53);
}

.my-fm{
    background-color: rgb(42, 230, 17);
}
.form-label{
    color:rgb(216, 18, 67)
}
.form-control{
    background-color: antiquewhite;
}