#my-class{
    text-align: right;
    font-size: larger;
    color:rgb(18, 6, 128);
}
#my-lp{
    text-align: right;
    color:rgb(114, 6, 48);
}
.navbar{
    block-size: 30%;
}
.hb{
    color:aliceblue;
}
#hb1{
    color: blue;
}