.mycolor{
    background-color: rgb(76, 223, 149);
}
.cl1{
    background-color: rgb(16, 75, 185);
}
.my-h2{
    text-align: center;
      width:100%;
}
h2{
    color:rgb(245, 20, 95);
}
.pic-post{
    text-align: right;
      
}